@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height:100vh;
    width: 100%;
}

html{
    --primary-bg-color:#f9fafb;
    --secondary-bg-color:#f1f5f9;
}

html[class="~dark"] {
    --primary-bg-color:#030712;
    --secondary-bg-color:#0f172a;
}
